/* 
    Document   : principal
    Created on : 02-2014
    Author     : Olga Juste
    Description:
        Purpose of the stylesheet follows.
*/

body {
    margin : 30px 200px;
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color : black;
}

h1 {
    text-align: center;
    font-family: Ravie, "Times New Roman";
    font-size: 90px;
}

#dos {
    color : #990505;    
    margin-top: -190px;
    margin-left : -17px;
}

#menu{
    list-style: none;
    font-size: x-large;
    text-align: center;
    margin-left: 200px;
}

.item {
    float : left;
    padding-right: 50px;
}

.item:hover {
    border-style: outset;
}

a:active {
    color:red;
}

a:link {
    color: whitesmoke;
}

#pie {
    clear : left;
    padding-top: 20px;
}

#view_content {
    clear: left;
}